<!doctype html>
<html>
  <head>
    <title>Gotta go!</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Critter Logo">
    </header>
    {{{body}}}
  </body>
</html>